.destinations-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destinations .section-text {
    width: 220px;
    margin: 32px auto ;
}

.destinations .item header{
    display: block;
    background-color: transparent;
    position: static;
    padding: 0;
    margin-bottom: 24px;
}

.destinations-items .item {
    display: flex;
    flex-direction:column;
    width: 312px;
    box-sizing: border-box;
 }

.destinations-items .item h4 {
    font-size: 28px;
}

.destinations-items .item p {
    font-size: 20px;
    font-weight: var(--text-weight);
    line-height: 1.5;
}

.destinations-items .item .button {
    text-align: center;
    width: 312px;
    margin-top: 24px;
}

/*.destinations-cards.card.tokyo {
    margin-bottom: 40px;
}*/

.destinations-items .img-item {
    background: url(/assets/tokyo.jpg) no-repeat;
    width: 648px;
    height: 452px;
}

@media screen and (min-width: 768px) {
    .destinations .section-text {
        width: 100%;
    }

    .destinations .card {
        width: 648px;
    }

    .destinations .card img {
        width: 648px;
        height: 452px;
    }
}


@media screen and (min-width: 1024px) {
    .destinations-cards  {
        display: flex;
        flex-direction: row;
        align-items: center; 
        flex-wrap: wrap;
        justify-content: center; 
        gap: 24px;
    }

    .destinations .card {
        width: 588px;
        margin: 0;
    }

    .destinations .card img {
        width: 588px;
    }
}