.destinations {
    margin-bottom: 88px;
}

.destinations-items {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 32px auto;
}


.destinations-items .item header h4 {
    font-size: 28px;
    font-weight: var(--title-weight);
    margin: 24px auto ;
}

.destinations-items .item p {
    font-size: 20px;
    font-weight: var(--text-weight);
    line-height: 1.5;
}

.destinations-items .img-item.tokyo {
    background: url(/assets/tokyo.jpg);
    background-size: cover;
    width: 312px;
    height: 360px;
}

.destinations-items .img-item.osaka {
    background: url(/assets/osaka.jpg);
    background-size: cover;
    width: 312px;
    height: 360px;
}

.destinations-items .button {
    width: 312px;
    margin: 24px auto 40px;
}