header {
    background-color: var(--background-tertiary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 38px 48px;
    position: relative;
}

.logo {
    display: inline-block;
    width: 68px;
    height: 64px;
}

.logo-mobile {
    display: block;
}

.logo-desktop {
    display: none;
}

.navigation-menu {
    margin-top: 24px;  
}

input[type="checkbox"]:checked ~ nav {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--background-tertiary-color);
}

nav {
    display: none;
   
}

.list-links {
    list-style: none; /*tira o marcador*/
}

.list-links li {
    margin: 16px 0;
}

.list-links li a{
    color: var(--text-secondary-color);
    text-decoration: none;
    font-weight: var(--menu-text-weight);
    font-size: 24px;
}

@media screen and (min-width: 768px ) {
    .navigation-menu {
        margin-top: 0;
    }

    .navigation-menu label {
        display: none;
    }

    .navigation-menu nav {
        display: block;
    }

    .list-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .navigation-menu {
        width: 467px;
        margin: 0;
    }

    .navigation-menu li {
        margin: 0;
    }
}

@media screen and (min-width: 1024px) {
    header {
        padding: 38px 120px;
    }

    .logo {
        width: 260px;
        height: 64px;
    }

    .img-desktop {
        display: inline;
    }

    .img-mobile {
        display: none;
    }

    .navigation-menu a:hover {
        color: var(--button-primary-color);
    }
} 

@media screen and (min-width: 1990px) {
    header {
        padding: 166px;
    }
    
}
