header {
   
    background-color: var(--background-tertiary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 38px 48px;
}

.logo {
    display: inline-block;
    width: 68px;
    height: 64px;
}

.navigation-menu {
    margin-top: 24px;

    
}

input[type="checkbox"]:checked ~ nav {
    display: block;
    position: absolute;
    top: 18%;
    right: 0;
    width: 100%;
 
}

nav {
    display: none;
}

