.hero-img {
  height: 400px;
  width: 100%;
  background: url(/assets/hero_mobile.png) no-repeat;
  background-size: cover;
}

.hero-text {
  text-align: center;
  font-weight: var(--text-weight);
  padding: 88px 24px;
  margin: 0;
  line-height: 1.5;
  color: var(--text-primary-color);
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    background: url(/assets/hero_tablet.png) no-repeat;
    background-size: cover;
  }

  .hero-text {
    padding: 88px 60px;
    color: var(--text-primary-color);
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    height: 620px;
    background: url(/assets/hero_desktop.png) no-repeat;
    background-size: cover;
  }

  .hero-text {
    padding: 104px 120px;
    font-size: 32px;
  }
}

@media screen and (min-width: 1920px) {
  .hero-text {
    padding: 104px 160px;
    font-size: 32px;
  }
}
