.cards {
    color: var(--text-secondary-color);
    width: 312px;
    height: 288px;
    padding: 24px 16px;
    border-radius: 16px;
    background-color: black;
    text-align: center;
    box-sizing: border-box;
}

.offers-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.cards header{
    display: block;
    background-color: transparent;
    position: static;
    padding: 0;
    margin-bottom: 24px;
}

.cards header p {
    font-size: 20px;
    font-weight: var(--text-weight);
}

.cards header h3 {
    font-size: 40px;
    font-weight: var(--title-weight);
    margin: 8px 0 0 ;

}

.cards header span {
    font-size: 32px;
    margin-top: 24px;
    display: inline-block;
}

.cards.japao {
    background: url(/assets/bg-japao-card.jpg) no-repeat;
    background-size: cover;
}

.cards.san-andreas {
    background: url(../assets/bg-san-andreas-card.jpg) no-repeat;
    background-size: cover;
}

.cards.paraiba {
    background: url(../assets/bg-card-paraiba.jpg) no-repeat;
    background-size: cover; 
}

.cards.manaus{
    background: url(../assets/bg-card-manaus.jpg) no-repeat;
    background-size: cover;
}

@media screen and (min-width: 1024px) {
    .cards {
        width: 588px;
        height: 308px;
    }

    .cards header h3 {
        font-size: 48px;
    }

    .cards header span {
        font-size: 40px;
    }   
}